html
    title Ivaaaan
    head
        h1 Show me the money
        style
            include index.css
    body
        h2 Gleb loshara
        #test
            label User:
            input(type='checkbox',
            name='agreement',
            checked,
            value='Вы соглашаетесь')
            #ttable
                table
                    tr
                        td "123"
                    tr
                        td "234"